* {
  margin: 0;
  padding: 0;

}

.container-geral{
  width: 100%;
  height: 100vh;
  background-image: url(../../images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  display: flex;
}
